In [13]:
import pandas as pd

data = {
    "Price": ["$100", "$250", "$300", "$150"],
    "Date": ["2025-01-01", "2025-01-05", "2025-01-10", "2025-01-15"]
}

df = pd.DataFrame(data)

print(df)
print(df.dtypes)

  Price        Date
0  $100  2025-01-01
1  $250  2025-01-05
2  $300  2025-01-10
3  $150  2025-01-15
Price    object
Date     object
dtype: object

In [14]:
df["Price"]=df["Price"].str.replace("$","",regex=False).astype(float)

In [15]:
df["Price"]

0    100.0
1    250.0
2    300.0
3    150.0
Name: Price, dtype: float64

In [16]:
df["Date"] = pd.to_datetime(df["Date"])

In [17]:
    df["Date"]

0   2025-01-01
1   2025-01-05
2   2025-01-10
3   2025-01-15
Name: Date, dtype: datetime64[ns]

In [18]:
print(df.dtypes)

Price           float64
Date     datetime64[ns]
dtype: object

In [19]:
print(df["Price"].mean())

200.0

In [20]:
df["Year"] = df["Date"].dt.year
print(df)

   Price       Date  Year
0  100.0 2025-01-01  2025
1  250.0 2025-01-05  2025
2  300.0 2025-01-10  2025
3  150.0 2025-01-15  2025

In [21]:
df = df.sort_values("Date")

In [22]:
df

   Price       Date  Year
0  100.0 2025-01-01  2025
1  250.0 2025-01-05  2025
2  300.0 2025-01-10  2025
3  150.0 2025-01-15  2025