In [11]:
import pandas as pd
 
data = {
      "Location": [" New York", "new york", "NEW YORK", "Chicago", " chicago "]
 }
df = pd.DataFrame(data)
        
print(df["Location"].unique())

[' New York' 'new york' 'NEW YORK' 'Chicago' ' chicago ']

In [12]:
df["Location"] = df["Location"].str.strip()

In [13]:
df["Location"]

0    New York
1    new york
2    NEW YORK
3     Chicago
4     chicago
Name: Location, dtype: object

In [26]:
df["Location"] = df["Location"].str.title()

In [27]:
df["Location"]

0    New York
1    New York
2    New York
3     Chicago
4     Chicago
Name: Location, dtype: object

In [28]:
print(df["Location"].unique())

['New York' 'Chicago']

In [31]:
df.groupby("Location").size()

Location
Chicago     2
New York    3
dtype: int64