In [1]:
import pandas as pd

df = pd.read_csv(r"C:\Users\ytaj3\OneDrive\Desktop\Internship\AIML-Internship\Day 10\customer_orders.csv")
df

    order_id customer_id   amount  quantity     status
0     1001.0        C001   2500.0       2.0  Delivered
1     1002.0        C002   1800.0       1.0    Shipped
2     1003.0        C003      NaN       3.0  Delivered
3     1004.0        C004   5200.0       5.0  Cancelled
4     1005.0        C005   3000.0       NaN  Delivered
5     1002.0        C002   1800.0       1.0    Shipped
6        NaN        C006   4500.0       2.0  Delivered
7     1007.0        C007  12000.0       1.0  Delivered
8     1008.0        C008    700.0       4.0   Returned
9     1009.0        C009   2500.0       2.0  Delivered
10    1010.0        C010      NaN       1.0    Shipped
11    1004.0        C004   5200.0       5.0  Cancelled

In [2]:
df.shape

(12, 5)

In [3]:
df.isna().sum()

order_id       1
customer_id    0
amount         2
quantity       1
status         0
dtype: int64

In [4]:
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())

In [5]:
numeric_cols

Index(['order_id', 'amount', 'quantity'], dtype='object')

In [6]:
df[numeric_cols]

    order_id   amount  quantity
0     1001.0   2500.0       2.0
1     1002.0   1800.0       1.0
2     1003.0   2750.0       3.0
3     1004.0   5200.0       5.0
4     1005.0   3000.0       2.0
5     1002.0   1800.0       1.0
6     1004.0   4500.0       2.0
7     1007.0  12000.0       1.0
8     1008.0    700.0       4.0
9     1009.0   2500.0       2.0
10    1010.0   2750.0       1.0
11    1004.0   5200.0       5.0

In [7]:
df = df.drop_duplicates()

In [8]:
df

    order_id customer_id   amount  quantity     status
0     1001.0        C001   2500.0       2.0  Delivered
1     1002.0        C002   1800.0       1.0    Shipped
2     1003.0        C003   2750.0       3.0  Delivered
3     1004.0        C004   5200.0       5.0  Cancelled
4     1005.0        C005   3000.0       2.0  Delivered
6     1004.0        C006   4500.0       2.0  Delivered
7     1007.0        C007  12000.0       1.0  Delivered
8     1008.0        C008    700.0       4.0   Returned
9     1009.0        C009   2500.0       2.0  Delivered
10    1010.0        C010   2750.0       1.0    Shipped

In [9]:
df = df.drop_duplicates("order_id")

In [10]:
df

    order_id customer_id   amount  quantity     status
0     1001.0        C001   2500.0       2.0  Delivered
1     1002.0        C002   1800.0       1.0    Shipped
2     1003.0        C003   2750.0       3.0  Delivered
3     1004.0        C004   5200.0       5.0  Cancelled
4     1005.0        C005   3000.0       2.0  Delivered
7     1007.0        C007  12000.0       1.0  Delivered
8     1008.0        C008    700.0       4.0   Returned
9     1009.0        C009   2500.0       2.0  Delivered
10    1010.0        C010   2750.0       1.0    Shipped